html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Black Ops One', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #332f2f;
    // background-color: #1f1f1f;

    .header {
        height: 80px;
        background-color: #332f2f;

        .headerText {
            position: relative;
            z-index: 3;
            left: 220px;
            top: 21.5px;
            font-size: 1.5rem;
        }
    }
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 80px;


    .navbar-brand h3 {
        font-size: 1.6rem;
        font-weight: 100;
    }

    .nav-item {
        font-size: 1.4rem;
        background-color: rgb(51, 47, 47, 0.6);
        display: flex;
        justify-content: end;
    }
}

#home {

    height: 90vh;
    background: url(../images/background/hyperspace.jpg);
    background-repeat: no-repeat;

    #clock {
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
    }

}

#about {
    min-height: 40vh;
    background-color: #332f2f;

    #aboutBody {
        min-height: 45vh;
        background: url(../images/background/lookUp.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    .row {
        background-color: rgb(31, 31, 31, 0);
    }

    button {
        font-size: 1.5rem;
    }
}

#skills {

    .row {
        background-color: #1f1f1f;
    }

}

#projects {

    .row {
        background-color: #1f1f1f;
    }

    a {
        color: #fff;
        text-decoration-line: none;
    }

    a:visited {
        text-decoration: none;
    }


}

#hobbies {

    .carousel-caption {
        background-color: rgba(0, 0, 0, .4);

    }

    .carousel-item {
        max-height: 90vh;
        min-height: 100%;
    }

    .carousel-indicators {
        z-index: 1;
    }

    .carousel-control-prev {
        z-index: 1;
        background-color: rgba(0, 0, 0, .4);
    }

    .carousel-control-next {
        z-index: 1;
        background-color: rgba(0, 0, 0, .4);
    }
}

#contact {

    .formContact {
        height: 65vh;
        min-height: 450px;
        background-color: #1f1f1f;
    }
}

#footer {
    height: 24vh;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #332f2f;
    min-height: 10vh;

}

#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block; 
    z-index: 99;
}

#loadingImage {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.6;
    
} 

#loadingText {
    font-size: 2rem;
    position: absolute;
    top: 25vh;
    left: 1vw;
    z-index: 101;
}

// LANDSCAPE
@media(orientation:landscape) {}

// XS


@media Screen and (max-width:767.98px) {
    #loadingImage {
        left: -120vw;
    } 
}

// SM
@media Screen and (min-width:768px) {
    #loadingImage {
        left: -80vw;
    } 
}

// MD
@media Screen and (min-width:992px) {
    #loadingImage {
        left: -40vw;
    } 
}

// LG
@media Screen and (min-width:1200px) {
    #loadingImage {
        left: 0;
    } 
}

// XL
//@media Screen and (max-width:1399.98px) {}

// XXL
// @media Screen and (min-width:1400px) {}