* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Black Ops One', cursive;
    display: grid;
    grid-template-columns: 1fr repeat(3, 4fr);
    grid-template-rows: 1fr 2fr repeat(5, 500px) 2fr;
    grid-template-areas: 
    'h h h h'
    'n n n n'
    'a m m m'
    'a m m m'
    'a m m m'
    'a m m m'
    'a m m m'
    'f f f f';
}

header,footer,nav,main,aside {
    background-color: steelblue;
    color: #fff;
    padding: 20px;
    border: 1px solid rgb(165, 213, 232);
}

header {
    grid-area: h;
}


nav {
    grid-area: n;
}

main {
    grid-area: m;
    display: grid;
    grid-template-rows: repeat(2, 2fr) 1fr;
    padding: 5px;

}

.about {
    grid-row: 1 / 2;
}

.about h1{
    grid-column: 1 / 4;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(3, 4fr);
}

.projects h1{
    grid-column: 1 / 4;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .item {
    background-color: steelblue;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    border: 1px solid skyblue;
}

.contacts {
    grid-row: 3 / 4;
}

.contacts h1{
    grid-column: 1 / 4;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: f;
}


aside {
    grid-area: a;
    display: flex;
    flex-direction: column;
}

h1 .aside{
    display: flex;
    flex-direction: column;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    transition: all .25s linear;
}

.navbar a:hover {
    color: lightblue;
    letter-spacing: 1.15px;
}

.navbar .name {
    font-weight: bold;
    font-size: x-large;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.navbar ul{
    display: flex;
    
}

.navbar ul li{
    margin-left: 20px;
}








.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
